DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sabor_gourmet?schema=public"
SESSION_SECRET="change-this-secret-to-at-least-16-characters"
PORT=3000
NODE_ENV="development"
FRONTEND_URL="http://localhost:5173"
